<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
      </head>
      <body>
        <header>
          <nav class="navbar">
            <img src="/images/Custom Logo.jpg" alt="Logo" class="logo">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </header>
        <main>

        </main>
        <section class="content"> 
            <h1><%= title %></h1>


            <div class="contact-info">
              <p>Email: <%= contactInfo.email %></p>
              <p>Phone: <%= contactInfo.phone %></p>
              <p>Address: <%= contactInfo.address %></p>
            </div>
          
            <br>
          
        </section>
  
</body>
</html>
